<div class="container" data-controller="search">
  <h1>Mercades Back End Challenge</h1>

  <div class="container">
    <%= form_tag("/", method: "get", remote: true, data: { action: "submit->search#latlong" }) do %>
      <%= label_tag(:lat, 'Latitude') %>
      <%= text_field_tag(:lat, '', data: {search_target: "lat"}) %>
      <%= label_tag(:lat, 'Longitude') %>
      <%= text_field_tag(:lon, '', data: {search_target: "long"}) %>
      <%= submit_tag('Search') %>
    <% end %>
  </div>
  <%= render 'latlong' %>
</div>
